<main class="container min-h-screen min-w-full flex flex-col items-center p-8 bg-base-300">
  <h1 class="text-5xl font-bold">People List</h1>

  <section class="py-10 px-5 ">
    <ul class="flex flex-row justify-center flex-wrap gap-8">
      <li *ngFor="let person2 of people">
        <app-person-card
          (onDelete)="deletePerson($event)"
          (onUpdatePerson)="updatePerson($event)"
          [person]="person2"></app-person-card>
      </li>
    </ul>

  </section>


  <div *ngIf="addPersonStep === 0" class="tooltip tooltip-right tooltip-primary fixed bottom-10 left-10"
       data-tip="Add Person">
    <button type="button" (click)="addPersonNextStep(1)"
            class="btn btn-circle btn-lg text-4xl btn-primary modal-button">+
    </button>
  </div>

  <app-add-person-form
    (onSubmit)="createPerson($event)"
    (onClose)="addPersonNextStep(0)"
    (onNextStep)="addPersonNextStep()"
    [addPersonStep]="addPersonStep">
  </app-add-person-form>

</main>


